.crearcat {
  margin-left: 800px; /* Ajusta este valor según tu diseño */
  font-size: 16px;
}

.botonesCat {
  display: flex;
  justify-content: space-between;
}

.botonesCat button {
  margin: 0 5px; /* Agrega un margen entre los botones */
}

/* Estilo para el botón "Crear categoria" */
.botonC {
  background-color: #5F8D4E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Estilo para el botón "Crear categoria" al pasar el mouse por encima */
.botonC:hover {
  background-color: #203ae4;
}

.CategoriaLista {
  padding: 14px;
}
.botonImprimirLista {
  background-color: #b6704b; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
  padding: 10px 20px; /* Relleno interno del botón */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-weight: bold; /* Texto en negrita */
}

.botonImprimirLista:hover {
  background-color: #e6d777; /* Color de fondo azul más oscuro al pasar el mouse por encima */
}

