

/* Estilos para el título "Inventario" */
.Inventario {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: start;
}


.container{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
}

/* Estilos para el botón de "Agregar producto" */
.botonA {
  background-color: #5F8D4E;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  margin: 6px 0; /* Espaciado en dispositivos móviles */
}

.botonA:hover {
  background-color: #203ae4;
}

/* Estilos para SearchBar */
.input1[type="text"] {
  padding: 10px;
  border: 1px solid #E5D9B6;
  border-radius: 10px;
  background-color: #E5D9B6;
  text-decoration: none;
}

i.fas.fa-search {
  cursor: pointer;
  color: #285430;
  font-size: 20px;
  margin-top: 10px; /* Espaciado superior en dispositivos móviles */
}

/* Estilos para CategoryDropdown */
.select1 {
  padding: 10px;
  border: 1px solid #E5D9B6;
  border-radius: 5px;
  width: 100%; /* Ancho completo en dispositivos móviles */
  margin-bottom: 10px;
  background-color: #926D35;
}
