
.transaciones{
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}


.btn-transacciones{
    background-color: #5F8D4E;
    border: 1px solid #285430;
    border-radius: 15px;
}
/* .btn-transacciones:hover {
    background-color: #2c5c1b !important;                    
} */
.btn-ver-transaccion{
    padding: 5px 8px;
    margin: 5px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.icon{
    margin-top: -5px  
  };