
.sidebar {
  position:fixed;
    width: 250px;
    height: 83.6%;
    background-color:#E5D9B6;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 65px;
    
    
  }
  
  .menu-list {
    list-style: none;
    padding: 0px;
    
  }
  
  .menu-link {
    color: #000;
    text-decoration: none;
    padding: 23px;
    display: block;
    
  }
  
  .menu-link:hover {
    
    background-color: #F3F4E9;
  }
  