 /* Estilos generales para el menú */
.Menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #E5D9B6;
  min-height: 10vh;
}

.menu-list {
  list-style: none;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.menu-link {
  text-decoration: none;
  color: #285430;
  font-size: 18px;
  display: block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agregamos una transición suave */
}

.menu-link:hover {
  background-color: #F3F4E9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregamos una sombra al hacer hover */
  width: 210px;
}

.menu-link i {
  margin-right: 12px;
  margin-bottom: 30px;
}

.cerrarSesion {
  margin-top: auto;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.cerrarSesion:hover {
  background-color: #F3F4E9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  /* Estilos específicos para dispositivos móviles */
  @media (max-width: 900px) {
    .Menu {
      display: flex;
      flex-direction: column; 
      justify-content: center;
      min-height: auto;
    }

    .menu-list {
      flex-direction: row; 
    }

    .menu-link {
      font-size: 17px;
      margin-right: 10px;
    }

    .menu-link:hover {
      background-color: #F3F4E9;
      max-height: 100px;
    }

    .menu-listM {
      margin-top: 25px; 
      text-align: center; 
    }

    .cerrarSesion {
      margin-top: 25px; 
      text-align: center; 
    }
  }

  .header1{
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    height: 50px;
  }
  
  .texto {
    margin-left: 10px; /* Ajusta el margen según sea necesario */
    
  }
  
  .name-perfil{
    color: white;
    margin-left: 750px;
  }
  .profile-container{
    display: flex;
    margin-left: 800px;
  }