/* productoLista.css */

.listaProducto {
  max-width: 100%;
  padding: 10px;
  font-size: 14px;
}
.botones-A-I {
  width: 100%; /* Ancho completo en dispositivos móviles */
  flex-direction: column;
  align-items: end;
  text-align: end; /* Centra el contenido en dispositivos móviles */
  justify-content: end;
}

.listaP {
  width: 100%;
  border-collapse: collapse;
}


.listaP th,
.listaP td {
  padding: 8px;
  text-align: center;
}

.listaP th {
  background-color: #5F8D4E;
  color: #fff;
}

.botonPdfListaP {
  padding: 5px 10px;
  margin: 20px;
  background-color: #4f350f;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}
.verP, .borrarP, .editarP{
  padding: 5px 10px;
  margin: 5px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.borrarP {
  background-color: #de2b10;
}

.editarP {
  background-color: #007BFF;
}

.verP:hover,
.borrarP:hover,
.editarP:hover,
.botonPdfListaP:hover {
  background-color: #5F8D4E;
}

.producto-no-encontrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.texto {
  font-size: 16px;
  margin-bottom: 10px;
}

.emoji-sad {
  font-size: 50px;
}

.botonPdfListaP {
  margin-left: 0; /* Ajustado margen izquierdo para centrar en pantallas más pequeñas */
}
