.division {
    text-align: center; /* Centrar horizontalmente el contenido dentro de la clase "division" */
  }
.h22{
    text-align: center;
    margin-left: 500px;
    font-size: 22px;
}
  .detalle {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente dentro de la clase "detalle" */
    
    
  }
  
  .product-details-table {
    text-align: left; /* Alinea el texto en la tabla a la izquierda */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
    width: 100%; /* Ajusta el ancho de la tabla según tus necesidades */
    margin-left: 250px;
    
  }
  
  .product-details-table td {
    padding: 2px; /* Espaciado interior de las celdas */
    border: 1px solid #ddd; /* Borde alrededor de las celdas */
    
    
  }
  
  .product-details-table td:first-child {
    font-weight: bold; /* Texto en negrita en la primera columna */
  }
  
  /* Estilos adicionales según sea necesario */
.campoV{
    background-color: #285430;
    color: #ddd;
    
    
}

.fila{
    background-color: #E5D9B6;
}
.botonPdf {
    margin-left: 450px; 
    margin-top: 5px;
    padding: 10px 20px; 
    background-color: #5F8D4E; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

.botonPdf:hover {
    background-color: #A4BE7B;                    
}
.imagenV{
margin-left: 500px;
margin-top: -20px;
}
.detallep{
    font-size: 5px;
    margin-top: -25px;
    
}