
.h22{
    text-align: center;
    font-size: 20px;
    padding:10px;
}
  .detalle {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente dentro de la clase "detalle" */
    
  }
  
  .product-details-table {
    text-align: left; /* Alinea el texto en la tabla a la izquierda */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
    width: 50%; /* Ajusta el ancho de la tabla según tus necesidades */
    
    
    
  }
  
  .product-details-table td {
    padding: 2px; /* Espaciado interior de las celdas */
    border: 1px solid #ddd; /* Borde alrededor de las celdas */
    
    
  }
  

.campoV{
    background-color: #285430;
    color: #ddd;
    
    
}
.LetraVerProducto{
  font-size: 14px;
}

.fila{
    background-color: #E5D9B6;
}
.botonPdf {
    
    margin-top: 5px;
    padding: 7px; 
    background-color: #5F8D4E; 
    color: #fff; 
    border: none; 
    border-radius: 15px; 
    cursor: pointer;
}

.botonPdf:hover {
    background-color: #A4BE7B;                    
}
.imagenV{

margin-top: -20px;
}
.detallep{
    
    margin-top: -25px;
    
}