
.botonC {
  background-color: #5F8D4E;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #fff; 
}
.botonC:hover{
  background-color: #fff;
  color:#5F8D4E;
}

.btn.btn-success{
  background-color: #5F8D4E; 
  color: #fff; 
  cursor: pointer;
}
.btn.btn-success:hover{
  background-color: #c6debe;
}  
@media (max-width: 768px) {
  .btn-Categorias{
    text-align: center;
  }
}