img {
  width: 500px;
  height: auto;
  border-radius: 18px;
}

.form-group {
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
}

.form-check {
  margin-top: 10px;
}

.fondo-login-hero {
  background-color: #F3F4E9;
}

.fondo-login {
  background-color: #FFFFFE;
  border-radius: 12px;
}

.btn {
  border-radius: 25px;
  padding-left: 66px;
  padding-right: 66px;
}

.text-boton {
  font-size: 20px;
}

.form-control {
  border-radius: 10px;
}