/* productoLista.css */

.listaProducto {
  max-width: 100%;
  padding: 8px;
  font-size: 14px;
}

.botones-A-I {
  width: 100%;
  /* Ancho completo en dispositivos móviles */
  flex-direction: column;
  align-items: end;
  text-align: end;
  /* Centra el contenido en dispositivos móviles */
  justify-content: end;
}

.listaP {
  width: 100%;
  border-collapse: collapse;
  height: 100vh;
}


.listaP th,
.listaP td {
  padding: 6px;
  text-align: center;
}

.listaP th {
  background-color: #5F8D4E;
  color: #fff;
}

.botonPdfListaP {
  padding: 5px;
  margin: 20px;
  background-color: #b0b0b5;
  border: 1px solid #285430;
  color: #fff;
  cursor: pointer;
  border-radius: 15px;
  height: 40px;
  font-weight: bold;
}

.verP,
.borrarP,
.editarP {
  padding: 5px;
  margin: 3px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.borrarP {
  background-color: #de2b10;
}

.editarP {
  background-color: #007BFF;
}

.verP:hover {
  background-color: #875306;
}

;

.borrarP:hover {
  background-color: #731a0d;
}

.editarP:hover {
  background-color: #13365c;
}

.botonPdfListaP:hover {
  background-color: #858589;
}

.producto-no-encontrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.texto-Producto {
  font-size: 14px;
  margin-bottom: 10px;

}

.emoji-sad {
  font-size: 50px;
}

.botonPdfListaP {
  margin-left: 0;
  /* Ajustado margen izquierdo para centrar en pantallas más pequeñas */
}