.HomePage {
  padding-top: 85px;
}
.texto {
  color: white;
  display: inline;
  vertical-align: middle;
  font-size: 15px;
}
@media (min-width: 768px) {
  .texto {
    font-size: 20px;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #285430;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}
@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    position: fixed;
  }
}
.logo {
  width: 60px;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .logo {
    width: 115px;
    vertical-align: middle;
  }
}
.theme-toggle {
  position: fixed;
  top: 50%;
  transform: translateY(-65%);
  text-align: center;
  z-index: 10;
  right: 0;
  left: auto;
  border: none;
  background-color: var(--bs-body-color);
}
.header {
  background-color: #285430;
  width: 100%;
  display: flex !important;
  position: fixed !important;
  z-index: 1;

  .btn {
    background: none;
    padding-left: 0px;
    padding-right: 0px;
    border: none;
    font-size: 25px;
  }
}

 .navbar {
   --bs-navbar-padding-x: 0;
   --bs-navbar-padding-y: 0.2rem !important;
};

@media (max-width: 768px) {
  .HomePage.container-md {
    padding-left: 0;
    padding-right: 0;
  }
}
