.texto {
  color: white;
  display: inline;
  vertical-align: middle;
}


.header div {
  line-height: 50px;
  margin-left: 30px;
  margin: 0;
}



.header {
  grid-area: header;
  background-color: #285430;
}

.footer {
  grid-area: footer;
  background-color: #285430;
  color: white;
  text-align: center;


}

.logo {
  width: 115px;
  vertical-align: middle;
}