.division2 {
  background-color: #FFFFFF;
  padding: 18px;
  border: 2px solid #ccc;
  border-radius: 30px;
  margin: 130px 350px;
  width: 40%;
  height: 15%;
  
  
}

.bontosave{
    background-color: #60aa48;
    color: #fff;
    padding: 5px 20px; 
    border: none;
    border-radius: 10px;
    margin-right: 20px; 
    cursor: pointer;
}
/* .bontosave:hover{
  background-color: #37562c;
} */
.botoncancel{
    background-color: red; 
    color: #fff;
    padding: 8px 20px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px; 
}
.botoncancel:hover{
  background-color: rgb(118, 11, 11);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilo para las etiquetas de los campos de entrada */
.labelC {
  display: block;
  margin-bottom: 5px;
  
}

/* Estilo para los campos de entrada de texto */
.inputC {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #A4BE7B;
  
  
}

.botones-Categoria{
  justify-content: center;
  display: flex;
}

.txt-form{
  text-align: center;
}

.btns-cancel-save{
  text-align: center;
}
