
.formulario{
  padding-top: 60px;
  input, textarea{
    border: 3px solid #e5d9b6;
  }
  .border-form{
    border-radius: 20px;
    border: 3px solid #A4BE7B;
  }
  .botones-Categoria{
    display: flex;
    justify-content: center;
    align-items: center;
    .btn.btn-primary{
      background: #60aa48;
      border: #60aa48;
      font-size: 15px;
      width: 120px;
    }
    .btn.btn-danger{
      font-size: 15px;
      width: 120px;
    }
    .Icon{
      margin-top: -4px;
    }
  }
  
}
@media (max-width: 768px){
  .formulario{
    padding-top: 30px;
  }
}
@media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 65%;
}
}